<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
    <%= link_to "myRecipes", "", class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav_item">
      <%= link_to "likk1", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "likk2", "", class: "btn btn-default btn-warning" %>
      </div>
      <div class="nav_item">
      <%= link_to "likk3", "", class: "btn btn-default btn-warning" %>
    </div>
</div>  
  </nav>